@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: #e0e0e0;
}

.encabezado {
    background-color: #81c784;
    color: black;
    padding: 4rem;
    margin: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 6rem;
}

span {
    font-size: 3rem;
    font-style: italic;
}

main {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 4rem;
}
.pie-de-pagina{
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;

}